nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #039be5;
    border-radius: 4px;
}

nav a:visited,
a:link {
    color: #2e5b70;
}

nav a:hover {
    color: #7dc2e4;
    background-color: #cfd8dc;
}

nav a.active {
    color: #03d7e5;
}