<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">html-css-bootstrap</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="01-html">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> HTML
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="02-css">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CSS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="03-bootstrap">
                <span class="bi bi-dash-square-fill-nav-menu" aria-hidden="true"></span> Bootstrap

            </NavLink>
        </div>
    </nav>
</div>

